<!--
  Generated template for the Start page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="start-fepafut">
<div class="start-logo">
  <img src="assets/images/fepafut-logo.svg" class="start-logo-img">
  <div class="start-maintext">sistema de credenciales fepafut</div>
</div>
  <ion-grid>
    <ion-row>
      <ion-col width-25></ion-col>
        <ion-col width-50>
          <button ion-button icon-left="" large color="danger" full (click)="GotoListLink()" *ngIf="deviceStatus.authorized">
            <ion-icon name="md-sync"></ion-icon>
            INICIAR
          </button>
        </ion-col>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8 offset-2>
          <ion-card>
            <ion-card-content class="txtcenter">
              <p danger>{{device | uppercase}}</p>
              <p>{{deviceStatus.label}}</p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
