.start-fepafut {
  background-image: url("../assets/images/fondo-image.png");
  background-position: 50% top;
  background-size: auto 100%; }

.start-logo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px; }

.start-logo .start-logo-img {
  width: 90%;
  max-width: 220px; }

.start-maintext {
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-shadow: #2d2d2d 2px 2px;
  margin-bottom: 20px; }

.txtcenter {
  text-align: center; }

/*# sourceMappingURL=start.css.map */
