<!--
  Generated template for the List page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>CREDENCIALES FEPAFUT</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>








<ion-content padding>
  <ion-item-group>
  <ion-list>
    <ion-item>
      <ion-label>Escoger Evento</ion-label>
      <ion-select [(ngModel)]="gaming">
        <ion-option value="nes">NES</ion-option>
        <ion-option value="n64">Nintendo64</ion-option>
        <ion-option value="ps">PlayStation</ion-option>
        <ion-option value="genesis">Sega Genesis</ion-option>
        <ion-option value="saturn">Sega Saturn</ion-option>
        <ion-option value="snes">SNES</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Filtrar Por</ion-label>
      <ion-select [(ngModel)]="Filtro">
        <ion-option value="nes">Aprobado</ion-option>
        <ion-option value="n64">Rechazado</ion-option>
        <ion-option value="ps">Pendiente</ion-option>
      </ion-select>
    </ion-item>
    <ion-item (click)="detailPage()">
      <ion-icon item-left name="ios-contact" class="large-icon-profile">
      </ion-icon>
      <h2>Samuel McCollings</h2>
      <h3>Bitacora Deportiva</h3>
      <p>Periodista</p>
      <ion-icon item-right="" name="md-time"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="ios-contact" class="large-icon-profile">
      </ion-icon>
      <h2>Samuel McCollings</h2>
      <h3>Bitacora Deportiva</h3>
      <p>Periodista</p>
      <ion-icon item-right="" name="ios-checkmark-circle" class="green-icon"></ion-icon>
    </ion-item>
  </ion-list>
  </ion-item-group>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="presentModal()"><ion-icon name="md-qr-scanner"></ion-icon></button>
  </ion-fab>
</ion-content>
