<ion-header>
    <ion-navbar color="primary">
        <ion-title>CREDENCIALES FEPAFUT</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="searchPage()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                refreshingSpinner="circles"
                refreshingText="Refrescando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-item-group>
        <ion-list>
            <ion-item>
                <ion-label>Escoger Evento</ion-label>
                <ion-select [(ngModel)]="model.event" (ionChange)="getCredential($event)">
                    <ion-option *ngFor="let event of events" [value]="event">{{event.event}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Filtrar Por</ion-label>
                <ion-select [(ngModel)]="filtro">
                    <ion-option [value]="3">Aprobada</ion-option>
                    <ion-option [value]="2">Rechazada</ion-option>
                    <ion-option [value]="1">Pendiente</ion-option>
                    <ion-option [value]="4">Todas</ion-option>
                </ion-select>
            </ion-item>
            <ion-item *ngFor="let credential of credentials | StatusPipe:filtro" (click)="detailPage(credential)">
                <ion-icon item-left name="ios-contact" class="large-icon-profile">
                </ion-icon>
                <h2>{{credential.name}} {{credential.lastname}}</h2>
                <h3>{{credential.organization}}</h3>
                <p>{{credential.position}}</p>
                <ion-icon item-right="" name="md-time"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-item-group>
    <ion-fab left bottom>
        <button ion-fab mini><ion-icon name="ios-cloudy-outline" color="light"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab  (click)="uploadLogs()" color="danger">
                <ion-icon name="md-cloud-upload"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab right bottom>
        <button class="scanbutton" ion-fab color="light" (click)="scan()">
            <ion-icon name="md-qr-scanner"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
