<ion-content padding>
    <div [ngClass]="{'response-denegado': credential.statusId==2,'response-valido': credential.statusId==3}">
        <ion-grid>
            <ion-row>
                <ion-col width-100 align="center">
                    <img src="assets/images/skull.svg" class="fepa-response-image" *ngIf="credential.statusId==2">
                    <img src="assets/images/green-check.svg" class="fepa-response-image" *ngIf="credential.statusId==3">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-100 align="center">
                    <h1>{{credential.name}} {{credential.lastname}}</h1>
                    <h2>{{credential.document}}</h2>
                    <p>{{credential.organization}}</p>
                    <p>{{credential.position}}</p>
                    <div class="credential_access{{credential.zoneId}} zone{{credential.zoneId}} denied{{credential.statusId}}"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab top right>
        <button ion-fab mini (click)="dismiss()">
            <ion-icon name="ios-close-outline"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
