page-response {
padding: 20px 0 0 0;
}
.fepa-response-image{
  width: 90%;
  max-width: 220px;
}
.response-valido{
  display: block;
}
.response-denegado{
  display: block;
}

.credential_access1, .credential_access2, .credential_access3{
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #00932f;
}
.credential_access4, .credential_access5{
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #cc0005;
}



.zone1:after, .zone2:after, .zone3:after{
  content: 'Con Acceso a Cancha';
  display: inline-block
}
.zone4:after, .zone5:after{
  content: 'Sin Acceso a Cancha';
  display: inline-block
}

.denied2{
  display: none;
}