<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>BUSCAR SOLICITUD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar type="text" showCancelButton [(ngModel)]="filter"></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <h2>Evento: {{event.name}}</h2>
    </ion-list-header>
    <ion-item *ngFor="let credential of credentials | SearchPipe:filter" (click)="detailPage(credential)">
      <ion-icon item-left name="ios-contact" class="large-icon-profile">
      </ion-icon>
      <h2>{{credential.name}} {{credential.lastname}}</h2>
      <h3>{{credential.organization}}</h3>
      <p>{{credential.position}}</p>
      <p>{{credential.status}}</p>
      <p class="zone{{credential.zone}}"></p>
      <ion-icon item-right="" name="md-time"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
