page-response {
  padding: 20px 0 0 0; }

.fepa-response-image {
  width: 90%;
  max-width: 220px; }

.response-valido {
  display: block; }

.response-denegado {
  display: none; }

/*# sourceMappingURL=errorPage.css.map */
