<ion-content padding>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col width-100 align="center">
                    <img src="assets/images/green-check.svg" class="fepa-response-image">
                </ion-col>
            </ion-row>
            <ion-row>
                <h2>{{response.message}}</h2>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab top right>
        <button ion-fab mini (click)="dismiss()">
            <ion-icon name="ios-close-outline"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
