.detail_access {
  padding: 10px;
  background-color: #2ec95c;
  color: #2d2d2d;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block; }

.detail_noaccess {
  padding: 10px;
  background-color: #c90400;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block; }

/*# sourceMappingURL=details.css.map */
