<ion-header>
    <ion-navbar color="primary">
        <ion-title>DETALLE</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="searchPage()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            <h2>Evento: {{event.name}}</h2>
        </ion-list-header>
        <ion-item>
            <h1>{{credential.name}} {{credential.lastname}}</h1>
            <h2>ID: {{credential.document}}</h2>
            <h3>{{credential.organization}}</h3>
            <p color="Danger">Estado: {{credential.status}}</p>
            <div *ngIf="credential.zoneId==1" class="detail_access">Con Acceso a Cancha</div>
            <div *ngIf="credential.zoneId==2" class="detail_access">Con Acceso a Cancha</div>
            <div *ngIf="credential.zoneId==3" class="detail_access">Con Acceso a Cancha</div>
            <div *ngIf="credential.zoneId==4" class="detail_noaccess">Sin Acceso a Cancha</div>
            <div *ngIf="credential.zoneId==5" class="detail_noaccess">Sin Acceso a Cancha</div>
            <br>
            <br>
            <p>UID: {{credential.token}}</p>
        </ion-item>
    </ion-list>
</ion-content>
